@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */

  /* dark 02 */
   .text-gray {
    color: #424242;
   }

   /* dark 03 */
   .text-light-gray {
    color: #727272;
   }

   .text-primary {
    color: #FF900E;
   }

   .bg-light {
    background-color: rgba(255, 144, 14, 0.1);
   }

   .btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
   }

   .display-flex {
    display: flex;
   }

   main {
    max-width: 1440px;
    margin: 0 auto;
   }

   .section-title {
    font-size: 2.8rem;
    font-weight: 700;
  }


  /* nav styles */
  .navbar {
    
    justify-content: space-around;
    align-items: center;
  }

  .brand {
    font-weight: 700;
    font-size: 3rem;
  }

  .nav-links {
    
  }

  .nav-item {
    display: flex;
    list-style: none;
    margin-right: 30px;
  }

  .nav-link {
    text-decoration: none;
    font-weight: 500;
  }

  .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
  }

/* banner related styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 70%;
    
}

/* main styles */
.teams {
  width: 80%;
  align-items: center;
  margin: 130px auto;
    
}

.team-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  gap: 20px;
}

.our-features {
  width: 50%;
  margin-left: 50px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}


/* features section related stles */
#feature-section-title {
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.features {
  width: 80%;
  align-items: center;
  margin: 50px auto;
  gap: 100px;
}

.feature-card {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;

}

.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
 margin-top: 0px;
 margin-bottom: 0px;
}

/* some fact related styles */
.some-facts-container {
  width: 80%;
  align-items: center;
  margin: 130px auto;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card {
  border: 2px solid #FF900E;
  border-radius:8px ;
  width: 200px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.fact-description {
  max-width: 540px;
}


/* sponsor related styles */
.our-sponsor {
  width: 80%;
  align-items: center;
  margin: 50px auto;
}

.sponsor-info {
  max-width: 100%;
  margin: 50px, auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-title {
  margin-bottom: 0px;
}

.sponsor-p {
  width: 542px;
  text-align: center;
  margin-bottom: 40px;
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
  width: 100px;
  height: 40px;
  filter: grayscale(100%);
}





/* responsive media query */

/* Small device */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team-image-container, .facts-container, .sponsor-companies {
      grid-template-columns: repeat(1, 1fr);
    }

    .team-image-container {
      width: 100%;
      justify-items: center;
    }

    .our-features {
      margin-left: auto;
      width: 100%;
    }
    .facts-container {
      justify-items: center;
      gap: 20px;
    }
    .sponsor-companies {
      justify-items: center;
      gap: 50px;
    }
}




/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .team-image-container{
    margin-right: 250px;
  }
  .our-features {
    margin-left: auto;
    width: 100%;
  }

  .sponsor-companies, .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

}